[run]
omit =
    */tests/*          # 排除 tests/ 目录下的所有文件
    */__init__.py      # 排除 __init__.py 文件
    */utils.py         # 排除 utils.py 文件
    */migrations/*     # 排除 migrations/ 目录

[report]
exclude_lines =
    pragma: no cover   # 排除标记了 # pragma: no cover 的代码
    def __repr__       # 排除 __repr__ 方法
    raise NotImplementedError  # 排除未实现的代码
    if __name__ == .__main__.: